.message{
    &.owner{
        flex-direction: row-reverse;
        .messageContent{
            align-items: flex-end;
        
        p{
            background-color: #8da4f1;
            color: white;
            border-radius: 10px 0px 10px 10px;
        }
    }
    }
}